img {
    height: 75vh;
    border-radius: 10px;
    font-size: 4rem;
    color: var(--text-warn);
}

.dual {
    display: flex;
    gap: 5px;
}

.left,
.right {
    --lrheight: 60px;
    --lraheight: calc(var(--lrheight) / sqrt(2));
    background-color: var(--bg-sec);
    width: 150px;
    height: var(--lrheight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.return {
    background-color: var(--bg-sec);
    width: 250px;
    text-align: center;
    height: var(--lrheight);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.left::after,
.right::after {
    position: absolute;
    transform: rotate(45deg);
    width: var(--lraheight);
    height: var(--lraheight);
    background-color: var(--bg-sec);
    content: "";
    z-index: -1;
}

.left {
    border-radius: 0 5px 5px 0;
}

.right {
    border-radius: 5px 0 0 5px;
}

.left::after {
    left: calc(var(--lrheight) / sqrt(2) * -0.5);
}

.right::after {
    right: calc(var(--lrheight) / sqrt(2) * -0.5);
}

p {
    user-select: none;
}