main {
    flex-direction: row;
    height: 100vh;
    padding: 0 40px;
}

.central {
    height: 100%;
    position: relative;
}

.central > div {
    position: absolute;
    height: 40px;
    width: 170px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-sec);
    border-color: var(--text-acc);
    border-style: solid;
    border-bottom-width: 0.10px;
}

#qindicator {
    right: 00px;
    border-left-width: 1px;
    border-radius: 0 0 0 10px;
}

#score {
    left: 2px;
    border-right-width: 1px;
    border-radius: 0 0 10px 0;
}

hr {
    position: absolute;
    height: 100vh;
    background-color: var(--text-acc);
    border: none;
    width: 2px;
    top: -5px;
}

div:has(> img) {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    margin-left: 40px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
}

li {
    cursor: pointer;
    transition: color 0.05s ease-in-out;
}

li:hover {
    color: var(--text-acc);
}

li p {
    background-color: var(--bg-sec);
    width: max-content;
    padding: 0.50px 10px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
    margin-left: 40px;
}

.buttons button {
    width: max-content;
}

#skip {
    background-color: var(--bg-sec);
    padding: 0.50px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.05s ease-in-out;
    border: 10px solid var(--border-prim);
}

#skip:hover {
    color: var(--text-acc);
}

p {
    user-select: none;
}