img {
    width: 60%;
}

#cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: var(--bg-prim);
}

.hidden {
    display: none;
    scale: 0;
    visibility: hidden;
}

main {
    justify-content: space-evenly;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 4rem;
}

li {
    cursor: pointer;
    transition: color 0.05s ease-in-out;
}

li:hover {
    color: var(--text-acc);
}

li p {
    background-color: var(--bg-sec);
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: max-content;
    margin-left: 4rem;
    align-items: center;
}

.buttons button {
    width: max-content;
}

#skip {
    background-color: var(--bg-sec);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: color 0.05s ease-in-out;
    border: 0.1rem solid var(--border-prim);
}

#skip:hover {
    color: var(--text-acc);
}