@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 7px;

    --bg-prim: rgb(43, 42, 51);
    --bg-sec: rgb(31, 30, 37);
    --fc: white;
    --acc: rgb(23, 240, 42);
    --warn: red;
}

body {
    background-color: var(--bg-prim);
    color: var(--fc);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 0;
    box-sizing: border-box;
    padding: 4rem 0 10rem;
}

img.aircraftimg {
    border-radius: 2rem;
    max-width: 500px;
    max-height: 30rem; /* Set your desired max height here */
}

img.aircraftimg_large {
    border-radius: 2rem;
    max-width: 1500px;
    max-height: 90rem; /* Set your desired max height here */
}

.question {
    background-color: var(--bg-sec);
    padding: 1rem;
    width: 75rem;
    border: 0.1rem solid var(--fc);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.typeQuestion {
    background-color: var(--bg-sec);
    padding: 1rem;
    width: 25rem;
    border: 0.1rem solid var(--fc);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */

}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

li,
p {
    font-size: 2rem;
}

li.noanswer:hover {
    color: var(--acc);
    cursor: pointer;
}

.wrong {
    color: var(--warn);
}

.right {
    color: var(--acc);
}

.next,
.submit {
    padding: 0rem 2rem;
    background-color: var(--bg-sec);
    border-radius: 2rem;
    border: 0.1rem solid var(--fc);
    transition: border-color 0.1s ease-in-out;
}

.next:hover,
.submit:hover {
    border-color: var(--acc);
    cursor: pointer;
}

.imlosingmysanity {
    position: fixed;
    display: none;
    background-color: var(--bg-sec);
    padding: 2rem;
    top: 0;
    right: 0;
    border-color: var(--fc);
    border-style: solid;
    border-top: 0.1rem;
    border-right: 0.1rem;
    border-radius: 0 0 0 2rem;
    font-size: 2rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
    justify-content:center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: opacity 0.5s; /* Add transition for fade out */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--bg-sec);
  border: 1px solid #888;
display: flex;
  flex-direction: column;
    justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  width: 10%; /* Could be more or less, depending on screen size */
    height: 10%;
  max-width: 500px;
  padding: 20px;
}

/* Fade out class */
.fade-out {
  opacity: 0;
}


/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}