<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIFA Aircraft Rec</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="typeQuestion">
        <form action="/rec" method="post">
            <select name="Companies">
                {% for company in companies %}
                <option value="{{ company }}" {% if loop.first %}selected{% endif %}>{{ company }}</option>
                {% endfor %}
            </select>
            <br>
            <select name="Tags">
                {% for tag in tags %}
                <option value="{{ tag }}" {% if loop.first %}selected{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="btn auth-btn {{ theme }}-btn" type="submit" style="margin-left:2px" value="Practice"/>
        </form>
    </div>

    <form style="position: absolute; top: 0; right: 0;" action="/" method="get">
        <input class="btn auth-btn {{ theme }}-btn" type="submit" style="margin-left:2px" value="Log out"/>
    </form>
</body>
</html>
