<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIFA Aircraft Rec</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="question">
            <h1>You have completed the Aircraft Recognition Quiz! Please click the button below to return to the home page.</h1>
    </div>

    <form id="nextQuestionForm" method="GET" action="/rec" onsubmit="return validateForm()">
        <div class="next" id="nextButton"><p>Return to Home</p></div>
        <button type="submit" id="nextSubmitButton" style="display: none;"></button>
    </form>

    <script src="{{ url_for('static', filename='recFinishScript.js') }}"></script>

</body>
</html>