<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aircraft Rec Practice</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="imlosingmysanity" id="fun"></div>
    <div class="question">
        <h1>What is the manufacturer of this aircraft?</h1>
        <ul>
            <li id="q1c1" class="q1">{{ man1 }}</li>
            <li id="q1c2" class="q1">{{ man2 }}</li>
            <li id="q1c3" class="q1">{{ man3 }}</li>
            <li id="q1c4" class="q1">{{ man4 }}</li>
        </ul>
    </div>
    <div class="question">
        <h1>What is the model number of this aircraft?</h1>
        <ul>
            <li id="q2c1" class="q2">{{ model1 }}</li>
            <li id="q2c2" class="q2">{{ model2 }}</li>
            <li id="q2c3" class="q2">{{ model3 }}</li>
            <li id="q2c4" class="q2">{{ model4 }}</li>
        </ul>
    </div>
    <div class="question">
        <h1>What is the common name (If any) of this aircraft?</h1>
        <ul>
            <li id="q3c1" class="q3">{{ name1 }}</li>
            <li id="q3c2" class="q3">{{ name2 }}</li>
            <li id="q3c3" class="q3">{{ name3 }}</li>
            <li id="q3c4" class="q3">{{ name4 }}</li>
        </ul>
    </div>


    <form id="nextQuestionForm" method="GET_BUT_NOT_NEW" action="/recTest" onsubmit="return validateForm()">
    <div class="next" id="nextButton"><p>Next Question</p></div>
    <button type="submit" id="nextSubmitButton" style="display: none;"></button>
    </form>

    <form id="submitForm" method="POST" action="/recFinish" onsubmit="return validateForm()">
        <div class="submit" id="submitButton"><p>Finish</p></div>
        <button type="submit" id="submitSubmitButton" style="display: none;"></button>
    </form>

    <form style="position: absolute; top: 0; right: 0;" action="/" method="get">
        <input class="btn auth-btn {{ theme }}-btn" type="submit" style="margin-left:2px" value="Log out"/>
    </form>


    <script>
        const sessionData = {{ session_data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='recTestScript.js') }}"></script>
</body>
</html>